* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    position: relative;
}

.container { 
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background-color: white; 
    margin: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(203, 201, 201), -1px -1px 10px rgb(203, 201, 201);
    display: block;
}

.head {
    height: 60px;
    padding: 15px;
    font-size: 25px;
}


/* Income container */
.income-container {
    border: 2px solid rgba(247, 245, 245, 0.647);
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}

h2 {
    font-size: 30px;
}

.income-form input {
    height: 50px;
    width: 250px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 25px;
    padding: 10px;
    margin: 20px;
}

.income-form button {
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: rgb(19, 206, 19);
    color: white;
    margin: 20px;
}


/* Expense conatiner */
.expense-container {
    border: 2px solid rgba(247, 245, 245, 0.647);
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}

.expense-form input {
    height: 50px;
    width: 250px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 25px;
    padding: 10px;
    margin: 20px;
}

.expense-form button {
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: rgb(206, 19, 19);
    color: white;
    margin: 20px;
}

input[type="date"] {
    text-align: center;
    font-size: 20px;
}


/* Third container */
.third-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 535px;
}


/* Info table section */
.info-table {
    width: calc(100% - 750px);
    border: 2px solid rgba(247, 245, 245, 0.647);
    border-radius: 10px;
    margin: 15px;
    padding: 12px;
    overflow-y: scroll;
}

table {
    width: 1070px;
    border-collapse: collapse;
}

.tr-income {
    background-color: rgb(92, 227, 105);
    height: 52px;
}

.tr-expense {
    background-color: rgb(227, 92, 92);
    border: 1px solid rgb(255, 255, 255);
    height: 52px;
}

td {
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.manipulation {
    display: flex;
    justify-content: center;
    gap: 20px;
}

table button {
    width: 40px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    color: rgb(21, 18, 18);
}


/* Total display section */
.total {
    width: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgba(247, 245, 245, 0.647);
    margin: 70px 15px;
}

.income-total, .expense-total, .balance {
    width: 660px;
    margin: 20px;
    padding: 25px 10px;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 10px;
    font-size: 35px;
    font-weight: bold;
    position: relative;
}

.money-count {
    position: absolute;
    right: 15px;
    top: 30px;
}

.income-total span, .balance span {
    color: green;
}

.expense-total span {
    color: red;
}


/* Editing form */
.editing-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.38);
    z-index: 900;
}

.editing-form {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    width: 500px;
    height: 500px;
    border: 2px solid rgba(247, 245, 245, 0.647);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(203, 201, 201), -1px -1px 10px rgb(203, 201, 201);
    animation: popup 0.2s ease-in;
    -webkit-animation: popup 0.2s ease-in;
}

@keyframes popup {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@-webkit-keyframes popup {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}


.editing-form input {
    height: 60px;
    width: 350px;
    margin: 20px;
    font-size: 25px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.editing-form button[type="submit"] {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    padding: 10px;
    margin: 20px;
}

.editing-form button[type="button"] {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 10px;
    margin: 20px;
}
